html,body{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{ 
    margin: 0; 
    padding: 0; 
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }



.page-container{
    width: 100vw;
    height: 100vh;

    /*page global variables*/    
    --header-height: 10vh;
    
    /*game canvas variables*/
    --game-canvas-height: 0px;
    --game-canvas-width: 0px;
    --game-canvas-left: 0px;
    --game-canvas-top: 0px;
    --game-canvas-border: 5px;

    /*game-map variables*/
    --game-map-height: 0px;
    --game-map-width: 0px;
}


.header-container{
    width: 100vw;
    height: var(--header-height);
    background-color: rgb(220, 210, 210);
}

.header-title{
    font-size: 6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-container{
    background-color: rgb(47, 44, 44);
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.game-canvas{
    border: var(--game-canvas-border) solid black;
}

.controls-container{
    width: 45%; 
    height: 22%; 
    background-color: gray;
    border-radius: 20px;
}

.controls-grid{
    --one-sixth: calc(100% / 6);
    --one-forth: calc(100% / 4);
    width: 60%;
    height: 50%;
    display: grid;
    gap: 5px;
    min-height: 0px;
    min-width: 0px;
    grid-template-columns: repeat(6, var(--one-sixth));
    grid-template-rows: repeat(4, var(--one-forth));
    grid-template-areas: ". . . . u ."
                         "z x . . u ."
                         "z x . l d r"
                         ". . . l d r";
    justify-content: center;
    align-content: center;
}

.fps{
    position: absolute;
    left: calc(var(--game-canvas-left) + var(--game-canvas-width) + (2 * var(--game-canvas-border)) + 10px);
    top: calc(var(--game-canvas-top) + 10px);
    color: white;
}

.game-map{
    position: absolute;
    left: calc(var(--game-canvas-left) + var(--game-canvas-width) + (2 * var(--game-canvas-border)) + 10px);
    top: calc(var(--game-canvas-top) + var(--game-canvas-height) - var(--game-map-height));
    border: 5px solid rgb(0, 0, 0);
}







